<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <title>출석체크 이벤트</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<meta name="naver-site-verification" content="04162b972802ed37f29370958bb61e1f24eefec8" />
<meta name="twitter:title" content="Add title here">
<meta name="twitter:description" content="Add description here">
<meta name="twitter:url" content="https://your-website.com/twitter-image.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Add title here">

<meta name="twitter:description" content="Add description here">

<meta name="twitter:url" content="https://your-website.com/twitter-image.png">

<meta name="twitter:card" content="sum
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9091309264908551"
     crossorigin="anonymous"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-559DVDP8HB"></script>
<script src="4525d614afb09d80dd04390096b5e515">
    
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-559DVDP8HB');
</script>
</head>
<body>
    <h1>출석체크 이벤트</h1>
    <ul>
    <% for (comment of comments) { %>
        <li><%= comment.content %></li>
        <form action="/update/<%= comment.id %>" method="post">
            <input type="text" name="content">
            <input type="submit" value="수정하기">
        </form>
        <form action="/delete/<%= comment.id %>" method="post">
            <input type="submit" value="삭제하기">
        </form>
    <% } %>
    </ul>
    <hr>
    <form action="/create" method="post">
        <input type="text" name="content"><br><br>
        <input type="Submit" value="출석체크하기">
    </form>
    

</body>
</html>
